@font-face {
    font-family: "HeliosCond";
    font-display: swap;
    src: url("fonts/HeliosCond-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #252525;
    --color-accent: #ffcc00;
    --color-lines: #D7D7D7;
    --color-w: #fff;
    --color-b: #000;
}

body {
    background-color: var(--color-w);
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.01em;
}

a {
    display: inline-block;
}

.header {

    &__container {
        max-width: 1200px;
        padding: 20px 15px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 210px 1fr;
        grid-template-areas: "logo top" "logo mid" "lname mid" "main main";
        column-gap: 30px;
        @media (max-width: 1060px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "logo top" "lname top" "mid mid" "main main";
        }
    }

    &__logo {
        grid-area: logo;
        background-color: var(--color-accent);
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 111px;
        img {
            display: block;
            max-width: 95px;
            max-height: 95px;
            object-fit: contain;
        }
    }

    &__logo-text {
        font-family: "HeliosCond", sans-serif;
        grid-area: lname;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: normal;
        text-align: center;
        margin-top: 8px;
    }

    &__top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--color-lines);
        @media (max-width: 768px) {
            flex-direction: row-reverse;
        }
    }

    &__top-menu {
    }

    &__login {
    }

    &__mid-wrap {
        grid-area: mid;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 22px;
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 15px;
        }
    }

    &__banner {
        width: 100%;
        max-width: 253px;
        height: 70px;
        background-color: #E2E2E2;
        @media (max-width: 768px) {
            justify-self: center;
            grid-column: span 2;
        }
    }

    &__cart {
    }

    &__contacts {
    }

    &__main-menu {
        grid-area: main;
    }
}
.top-menu {

    &__brg {
        display: none;
        @media only screen and (max-width: 768px) {
          display: block;
          width: 30px;
          height: 30px;
          position: relative;
          cursor: pointer;
        }
        & span {
          display: block;
          width: 100%;
          height: 4px;
          background-color: var(--color-main);
      
          position: absolute;
          z-index: 15;
          top: calc(50% - 2px);
          left: 0;
      
          transition: transform 0s 0.2s;
        }
        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: var(--color-main);
          position: absolute;
          z-index: 15;
          left: 0;
        }
        &::before {
          top: 0;
          transition: top 0.2s 0.2s, transform 0.2s 0s;
        }
        &::after {
          bottom: 0;
          transition: bottom 0.2s 0.2s, transform 0.2s 0s;
        }
        &.open {
          span {
            transition: transform 0s 0.2s;
            transform: scale(0);
          }
          &::before {
            top: calc(50% - 2px);
            transform-origin: center;
            transform: rotate(45deg);
            transition: top 0.2s 0s, transform 0.2s 0.2s;
          }
          &::after {
            bottom: calc(50% - 2px);
            transform-origin: center;
            transform: rotate(-45deg);
            transition: bottom 0.2s 0s, transform 0.2s 0.2s;
          }
        }
      }

    &__list {
        list-style: none;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-direction: column;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            padding: 105px 15px 15px;
            background-color: var(--color-lines);
            transform: translateX(110%);
            transition: transform 0.2s ease;
            &.open {
                transition: transform 0.2s ease;
                transform: translateX(0);
            }
        }
    }

    &__item {
    }

    &__link {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    &__btn {
        border: none;
        background: none;
        font-size: inherit;
        color: inherit;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__dec {
        display: block;
        width: 1px;
        height: 10px;
        background-color: var(--color-b);
        @media (max-width: 1024px) {
            width: 100%;
            height: 1px;
        }
    }
}
.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
    }

    &__item {
        padding-left: 30px;
        position: relative;
    }

    &__dec {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
    }

    &__link {
        text-decoration: underline;
        color: inherit;
    }

    &__wrap-goods {
    }
}
.goods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @media (max-width: 1150px) {
        display: none;
    }

    &__item {
        width: 70px;
        height: 70px;
        display: inline-block;
        object-fit: contain;
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__time {
    }

    &__phone {
        font-style: italic;
        font-weight: 700;
        font-size: 25px;
        letter-spacing: -0.02em;
        color: inherit;
        text-decoration: none;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__region {
    }
}
.time {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    &__text {
        font-weight: 700;
    }

    &__value {
        letter-spacing: -0.025em;
    }
}
.region {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 4px;
    border-top: 1px solid var(--color-lines);

    &__name {
    }

    &__btn {
        background: none;
        border: none;
        color: inherit;
        font-size: inherit;
        cursor: pointer;
        border-bottom: 1px dashed var(--color-b);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -11px;
            display: block;
            width: 7px;
            height: 7px;
            background-image: url("img/arrow.svg");
        }
    }
}
.main-menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--color-w);
    background-color: var(--color-main);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;

    &__search {
        border: none;
        background-color: var(--color-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: var(--color-w);
            transition: background-color 0.2s ease;
        }
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        padding: 0 10px;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }

    &__item {
    }

    &__link {
        display: inline-block;
        color: inherit;
        font-size: inherit;
        text-decoration: none;
        padding: 9px 19px;
        transition: color 0.2s ease, background-color 0.2s ease;
        white-space: nowrap;
        &:hover {
            transition: color 0.2s ease, background-color 0.2s ease;
            color: var(--color-b);
            background-color: var(--color-accent);
        }
    }

    &__link--active {
        background-color: var(--color-accent);
        color: var(--color-b);
    }

    &__sale {
        color: var(--color-b);
        background-color: var(--color-accent);
        font-size: inherit;
        text-decoration: none;
        padding: 9px 19px;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: var(--color-w);
            transition: background-color 0.2s ease;
        }
        @media (max-width: 768px) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -20px;
                top: 0;
                display: block;
                width: 20px;
                height: 100%;
                background-image: linear-gradient(to left, #ffcc00, transparent);
            }
        }
    }
}
